In [3]:
# Importar librerías a utilizar
import numpy as np
import matplotlib.pyplot as plt 

import pandas as pd  
import seaborn as sns

In [4]:
# Leer archivo "World population.csv" y cargarlo a un dataframe
df = pd.read_csv("DataSets/AS3.9/World population.csv")

In [5]:
# Ver las primeras 5 líneas del archivo
df.head()

,Country,Continent,Date,GDP,GNI,Live births number,Live births rate,Deaths number,Death rate,Rate of increase,Infant deaths number,Infant deaths rate (per 1000 births),Life expectancy at birth male,Life expectancy at birth female,Total fertility rate
0,Algeria,Africa,2010,188681,8310.0,887810,24.7,157000,,,,,75.6,77.0,
1,�land Islands,Europe,2009,,1140.0,267,9.7,247,9,0.7,,,79.4,84.1,1.68
2,Antigua and Barbuda,North America,2010,1118,17900.0,1255,13.8,491,5.4,8.4,11,,74.0,79.7,
3,Argentina,South America,2010,446044,17130.0,756176,18.7,318602,7.9,10.8,8961,11.9,71.6,79.1,2.39
4,Armenia,Asia,2007,10248,6100.0,40105,12.4,26830,8.3,4.1,433,10.8,70.2,76.6,1.42

In [6]:
# Reemplazar espacios por NaN
df = df.replace(r'^\s*$', np.NaN, regex=True)
df.head()

,Country,Continent,Date,GDP,GNI,Live births number,Live births rate,Deaths number,Death rate,Rate of increase,Infant deaths number,Infant deaths rate (per 1000 births),Life expectancy at birth male,Life expectancy at birth female,Total fertility rate
0,Algeria,Africa,2010,188681,8310.0,887810,24.7,157000,NaN,NaN,NaN,NaN,75.6,77.0,NaN
1,�land Islands,Europe,2009,NaN,1140.0,267,9.7,247,9,0.7,NaN,NaN,79.4,84.1,1.68
2,Antigua and Barbuda,North America,2010,1118,17900.0,1255,13.8,491,5.4,8.4,11,NaN,74.0,79.7,NaN
3,Argentina,South America,2010,446044,17130.0,756176,18.7,318602,7.9,10.8,8961,11.9,71.6,79.1,2.39
4,Armenia,Asia,2007,10248,6100.0,40105,12.4,26830,8.3,4.1,433,10.8,70.2,76.6,1.42

In [7]:
# Verificar cuantos datos perdidos hay
df.isna().sum()

Country                                  0
Continent                                0
Date                                     0
GDP                                     12
GNI                                     10
Live births number                       8
Live births rate                        22
Deaths number                           10
Death rate                              27
Rate of increase                        28
Infant deaths number                    25
Infant deaths rate (per 1000 births)    44
Life expectancy at birth male            0
Life expectancy at birth female          0
Total fertility rate                    30
dtype: int64

In [8]:
# Usar dropna para eliminar las filas donde hay datos vacíos
df = df.dropna(how = 'any')
df.head()

,Country,Continent,Date,GDP,GNI,Live births number,Live births rate,Deaths number,Death rate,Rate of increase,Infant deaths number,Infant deaths rate (per 1000 births),Life expectancy at birth male,Life expectancy at birth female,Total fertility rate
3,Argentina,South America,2010,446044,17130.0,756176,18.7,318602,7.9,10.8,8961,11.9,71.6,79.1,2.39
4,Armenia,Asia,2007,10248,6100.0,40105,12.4,26830,8.3,4.1,433,10.8,70.2,76.6,1.42
5,Australia,Oceania,2010,1379382,38110.0,297903,13.4,143473,6.4,6.9,1229,4.1,79.5,84.0,1.89
6,Austria,Europe,2010,417656,42050.0,78742,9.4,77199,9.2,0.2,307,3.9,77.7,83.2,1.44
13,Brunei Darussalam,Asia,2008,16360,49910.0,6424,16.1,1091,2.7,13.4,45,7,76.6,79.8,1.7

In [11]:
# Ver cuantos paises quedan
index = df.index
number_of_rows = len(index)
print(number_of_rows)

48

In [30]:
# Cambiar el tipo de las columnas a numerico
df = df.astype({
    'GDP': 'int64',
    'Live births number': 'int64',
    'Live births rate': 'float64',
    'Deaths number': 'int64',
    'Death rate': 'float64',
    'Rate of increase': 'float64',
    'Infant deaths number': 'int64',
    'Infant deaths rate (per 1000 births)': 'float64',
    'Total fertility rate': 'float64'
    })
df.dtypes

Country                                  object
Continent                                object
Date                                      int64
GDP                                       int64
GNI                                     float64
Live births number                        int64
Live births rate                        float64
Deaths number                             int64
Death rate                              float64
Rate of increase                        float64
Infant deaths number                      int64
Infant deaths rate (per 1000 births)    float64
Life expectancy at birth male           float64
Life expectancy at birth female         float64
Total fertility rate                    float64
dtype: object

In [31]:
# Encontrar rangos de las variables
print("Date: Min -", df['Date'].min(), ", Max -", df['Date'].max())
print("GDP: Min -", df['GDP'].min(), ", Max -", df['GDP'].max())
print("GNI: Min -", df['GNI'].min(), ", Max -", df['GNI'].max())
print("Live births number: Min -", df['Live births number'].min(), ", Max -", df['Live births number'].max())
print("Live births rate: Min -", df['Live births rate'].min(), ", Max -", df['Live births rate'].max())
print("Deaths number: Min -", df['Deaths number'].min(), ", Max -", df['Deaths number'].max())
print("Death rate: Min -", df['Death rate'].min(), ", Max -", df['Death rate'].max())
print("Rate of increase: Min -", df['Rate of increase'].min(), ", Max -", df['Rate of increase'].max())
print("Infant deaths number: Min -", df['Infant deaths number'].min(), ", Max -", df['Infant deaths number'].max())
print("Infant deaths rate (per 1000 births): Min -", df['Infant deaths rate (per 1000 births)'].min(), ", Max -", df['Infant deaths rate (per 1000 births)'].max())
print("Life expectancy at birth male: Min -", df['Life expectancy at birth male'].min(), ", Max -", df['Life expectancy at birth male'].max())
print("Life expectancy at birth female: Min -", df['Life expectancy at birth female'].min(), ", Max -", df['Life expectancy at birth female'].max())
print("Total fertility rate: Min -", df['Total fertility rate'].min(), ", Max -", df['Total fertility rate'].max())

Date: Min - 2007 , Max - 2011
GDP: Min - 5919 , Max - 14991300
GNI: Min - 2180.0 , Max - 86440.0
Live births number: Min - 6424 , Max - 4247694
Live births rate: Min - 7.5 , Max - 28.1
Deaths number: Min - 1091 , Max - 2471984
Death rate: Min - 1.1 , Max - 15.3
Rate of increase: Min - -4.8 , Max - 21.2
Infant deaths number: Min - 32 , Max - 288192
Infant deaths rate (per 1000 births): Min - 1.7 , Max - 75.2
Life expectancy at birth male: Min - 61.9 , Max - 79.9
Life expectancy at birth female: Min - 67.6 , Max - 86.4
Total fertility rate: Min - 1.04 , Max - 3.7

In [32]:
# Analizar estadísticas descriptivas
df.describe()

,Date,GDP,GNI,Live births number,Live births rate,Deaths number,Death rate,Rate of increase,Infant deaths number,Infant deaths rate (per 1000 births),Life expectancy at birth male,Life expectancy at birth female,Total fertility rate
count,48.000000,4.800000e+01,48.000000,4.800000e+01,48.000000,4.800000e+01,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,2009.333333,8.740900e+05,29698.750000,3.997800e+05,13.097917,2.618610e+05,8.754167,4.345833,8257.208333,8.350000,73.566667,79.841667,1.769583
std,1.058569,2.303797e+06,21081.651963,8.355381e+05,4.604276,4.903107e+05,3.151086,6.443732,41532.226136,11.105682,5.510930,4.185326,0.543198
min,2007.000000,5.919000e+03,2180.000000,6.424000e+03,7.500000,1.091000e+03,1.100000,-4.800000,32.000000,1.700000,61.900000,67.600000,1.040000
25%,2008.750000,4.648750e+04,14562.500000,5.842200e+04,10.500000,3.104275e+04,6.875000,0.150000,208.750000,3.375000,69.950000,77.075000,1.407500
50%,2010.000000,2.283635e+05,24735.000000,8.621500e+04,11.400000,8.384300e+04,9.050000,3.300000,492.500000,5.050000,75.950000,80.600000,1.560000
75%,2010.000000,5.695885e+05,40220.000000,3.867395e+05,13.925000,2.428135e+05,9.825000,6.600000,2062.250000,9.500000,78.500000,83.200000,1.992500
max,2011.000000,1.499130e+07,86440.000000,4.247694e+06,28.100000,2.471984e+06,15.300000,21.200000,288192.000000,75.200000,79.900000,86.400000,3.700000

In [ ]:
# De acuerdo a las estadisticas descriptivas los datos pertenecen a 48 paises y corresponden a fechas
# alrededor del 2009. El campo en donde mas hay varianza entre paises es el del GDP, seguido por el del numero
# de nacimientos. Seria conveniente analizar como se relacionan estas dos variables entre si y como afectan
# a las demas variables.